.pltfrm{
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  font-family: $font-stack;
  font-size: 1rem;
  h1{
    font-size: $h1-fontsize;
    line-height: 100%;
    margin: ($h1-fontsize / 1.5) 0 ($h1-fontsize / 2.5) 0;
    font-weight: 600;
  }
  h2{
    font-size: $h2-fontsize;
    line-height: 100%;
    margin: ($h2-fontsize / 1.5) 0 ($h2-fontsize / 2.5) 0;
    font-weight: 500;
  }
  h3{
    font-size: $h3-fontsize;
    line-height: 100%;
    margin: ($h3-fontsize / 1.5) 0 ($h3-fontsize / 2.5) 0;
    font-weight: 500;
  }
  h4{
    font-size: $h4-fontsize;
    line-height: 100%;
    margin: ($h4-fontsize / 1.5) 0 ($h4-fontsize / 2.5) 0;
    font-weight: 400;
  }
  h5{
    font-size: $h5-fontsize;
    line-height: 100%;
    margin: ($h5-fontsize / 1.5) 0 ($h5-fontsize / 2.5) 0;
    font-weight: 400;
  }
  h6{
    font-size: $h6-fontsize;
    line-height: 100%;
    margin: ($h6-fontsize / 1.5) 0 ($h6-fontsize / 2.5) 0;
    font-weight: 300;
  }
  p{
    text-align: justify;
    text-justify: inter-word;
  }
  @media #{$small} { //Only ultrasmall
    font-size: 0.8rem;
  }
  @media #{$large} {
    font-size: 1.1rem;
  }
  @media #{$extralarge} {
    font-size: 1.2rem;
  }
}
