.pltfrm{
  box-sizing: border-box;
  background-color: $background-color;
  *, *:before, *:after {
   box-sizing: inherit;
  }
  a{
    color: $link-color;
    text-decoration: none;
  }
  img,video,table{
    max-width: 100%;
    height: auto;
  }
  table, th, td{
    border: 3px solid $primary-color-dark;
    padding: 2px 10px;
  }
  .show-m-up, .hide-s{
    @media only screen and(max-width: #{$screen-small-up}){
      display: none !important;
    }
  }
  .show-l-up, .hide-m-down{
    @media only screen and (max-width: #{$screen-medium-up}){
      display: none !important;
    }
  }
  .show-xl, .hide-l-down{
    @media only screen and (max-width: #{$screen-large-up}){
      display: none !important;
    }
  }
  .show-s, .hide-m-up{
    @media only screen and (min-width: #{$screen-small-up}){
      display: none !important;
    }
  }
  .show-m-down, .hide-l-up{
    @media only screen and (min-width: #{$screen-medium-up}){
      display: none !important;
    }
  }
  .show-l-down, .hide-xl{
    @media only screen and (min-width: #{$screen-large-up}){
      display: none !important;
    }
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .center {
  text-align: center;
  }
  .left {
    float: left !important;
  }
  .right {
    float: right !important;
  }
}
