.pltfrm{
  .container{ //default is small devices
    margin: 0 auto;
    max-width: $screen-large-up;
    width: 98%;
  }
  @media #{$small} { //only ultra small devices
    .container{
      width: 100%;
    }
  }
  @media #{$medium} { //After Medium <992
    .container {
      width: 96%;
    }
  }
  @media #{$large} { //After Large <1280
    .container {
      width: 95%;
    }
  }
  @media #{$extralarge} { //After extralarge >1440
    .container{
      width: 92%;
    }
  }
  .col .row {
    margin-left: (-1 * $gutter-width / 2);
    margin-right: (-1 * $gutter-width / 2);
  }
  @mixin reset-offset {
    margin-left: auto;
    left: auto;
    right: auto;
  }
  @mixin grid-classes($size, $i, $perc) {
    &.offset-#{$size}#{$i} {
      margin-left: $perc;
    }
    &.pull-#{$size}#{$i} {
      right: $perc;
    }
    &.push-#{$size}#{$i} {
      left: $perc;
    }
  }
  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    // Clear floating children
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .col {
      float: left;
      box-sizing: border-box;
      padding: 0 $gutter-width / 2;
      min-height: 1px;

      &[class*="push-"],
      &[class*="pull-"] {
        position: relative;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.s#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("s", $i, $perc);
        $i: $i + 1;
      }

      @media #{$medium} {

        $i: 1;
        @while $i <= $num-cols {
          $perc: unquote((100 / ($num-cols / $i)) + "%");
          &.m#{$i} {
            width: $perc;
            @include reset-offset;
          }
          $i: $i + 1
        }

        $i: 1;
        @while $i <= $num-cols {
          $perc: unquote((100 / ($num-cols / $i)) + "%");
          @include grid-classes("m", $i, $perc);
          $i: $i + 1;
        }
      }

      @media #{$large} {

        $i: 1;
        @while $i <= $num-cols {
          $perc: unquote((100 / ($num-cols / $i)) + "%");
          &.l#{$i} {
            width: $perc;
            @include reset-offset;
          }
          $i: $i + 1;
        }

        $i: 1;
        @while $i <= $num-cols {
          $perc: unquote((100 / ($num-cols / $i)) + "%");
          @include grid-classes("l", $i, $perc);
          $i: $i + 1;
        }
      }

      @media #{$extralarge} {

        $i: 1;
        @while $i <= $num-cols {
          $perc: unquote((100 / ($num-cols / $i)) + "%");
          &.xl#{$i} {
            width: $perc;
            @include reset-offset;
          }
          $i: $i + 1;
        }

        $i: 1;
        @while $i <= $num-cols {
          $perc: unquote((100 / ($num-cols / $i)) + "%");
          @include grid-classes("xl", $i, $perc);
          $i: $i + 1;
        }
      }
    }
  }
}
