.pltfrm{
  nav{
    padding: 0 !important;
    a{
      height: 2rem;
      text-align: center;
      padding: 0.5rem 0rem !important;
      border-radius: 1rem;
      color: $secondary-color-dark;
      transition: 0.3s;
      &:hover{
        color: $primary-color-light;
        background-color: $secondary-color;
      }
    }
  }
}
