@charset "UTF-8";
// ========================================
//           Variables SASS
// ========================================
//Leer sobre grunt-autoprefixer para mejorar el compilado de css.

// Color https://material.io/tools/color/#!/?view.left=0&view.right=0&secondary.color=607D8B&primary.color=F5F5F5
$primary-color: #f5f5f5 !default;
$primary-color-light: #ffffff !default;
$primary-color-dark: #c2c2c2 !default;
$secondary-color: #607d8b !default;
$secondary-color-light: #8eacbb !default;
$secondary-color-dark: #34515e !default;
$background-color: #f5f5f5 !default;
$success-color: #aed581 !default;
$error-color: #e57373 !default;
$link-color: #2196f3 !default;

// Screen
// 360 small <701 medium <993 large <1280 extralarge >1440
$screen-small: 360px !default;
$screen-small-up: 701px !default;
$screen-medium: 992px !default;
$screen-medium-up: 993px !default;
$screen-large: 1280px !default;
$screen-large-up: 1440px !default;
$small: "only screen and (max-width : #{$screen-small})" !default;
$medium: "only screen and (min-width : #{$screen-small-up})" !default;
$large: "only screen and (min-width : #{$screen-medium-up})" !default;
$extralarge: "only screen and (min-width : #{$screen-large-up})" !default;

// Grids
$num-cols: 12 !default;
$gutter-width: 1rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Typography
$font-stack: 'Montserrat', sans-serif;
$off-black: rgba(0, 0, 0, 0.87) !default;
$h1-fontsize: 2.5rem !default;
$h2-fontsize: 1.9rem !default;
$h3-fontsize: 1.6rem !default;
$h4-fontsize: 1.4rem !default;
$h5-fontsize: 1.3rem !default;
$h6-fontsize: 1.2rem !default;

// ========================================
//           Imports
// ========================================
// Normalize
@import "normalize";
// Font
@import "font";
// Global
@import "global";
// Grid
@import "grid";
// Cards
@import "cards";
// Forms
@import "forms";
// Nav
@import "nav";
