/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.pltfrm {
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.pltfrm h1 {
  font-size: 2.5rem;
  line-height: 100%;
  margin: 1.66667rem 0 1rem 0;
  font-weight: 600;
}
.pltfrm h2 {
  font-size: 1.9rem;
  line-height: 100%;
  margin: 1.26667rem 0 0.76rem 0;
  font-weight: 500;
}
.pltfrm h3 {
  font-size: 1.6rem;
  line-height: 100%;
  margin: 1.06667rem 0 0.64rem 0;
  font-weight: 500;
}
.pltfrm h4 {
  font-size: 1.4rem;
  line-height: 100%;
  margin: 0.93333rem 0 0.56rem 0;
  font-weight: 400;
}
.pltfrm h5 {
  font-size: 1.3rem;
  line-height: 100%;
  margin: 0.86667rem 0 0.52rem 0;
  font-weight: 400;
}
.pltfrm h6 {
  font-size: 1.2rem;
  line-height: 100%;
  margin: 0.8rem 0 0.48rem 0;
  font-weight: 300;
}
.pltfrm p {
  text-align: justify;
  text-justify: inter-word;
}
@media only screen and (max-width: 360px) {
  .pltfrm {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 993px) {
  .pltfrm {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .pltfrm {
    font-size: 1.2rem;
  }
}

.pltfrm {
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.pltfrm *, .pltfrm *:before, .pltfrm *:after {
  box-sizing: inherit;
}
.pltfrm a {
  color: #2196f3;
  text-decoration: none;
}
.pltfrm img, .pltfrm video, .pltfrm table {
  max-width: 100%;
  height: auto;
}
.pltfrm table, .pltfrm th, .pltfrm td {
  border: 3px solid #c2c2c2;
  padding: 2px 10px;
}
@media only screen and (max-width: 701px) {
  .pltfrm .show-m-up, .pltfrm .hide-s {
    display: none !important;
  }
}
@media only screen and (max-width: 993px) {
  .pltfrm .show-l-up, .pltfrm .hide-m-down {
    display: none !important;
  }
}
@media only screen and (max-width: 1440px) {
  .pltfrm .show-xl, .pltfrm .hide-l-down {
    display: none !important;
  }
}
@media only screen and (min-width: 701px) {
  .pltfrm .show-s, .pltfrm .hide-m-up {
    display: none !important;
  }
}
@media only screen and (min-width: 993px) {
  .pltfrm .show-m-down, .pltfrm .hide-l-up {
    display: none !important;
  }
}
@media only screen and (min-width: 1440px) {
  .pltfrm .show-l-down, .pltfrm .hide-xl {
    display: none !important;
  }
}
.pltfrm .hide {
  display: none !important;
}
.pltfrm .show {
  display: block !important;
}
.pltfrm .center {
  text-align: center;
}
.pltfrm .left {
  float: left !important;
}
.pltfrm .right {
  float: right !important;
}

.pltfrm .container {
  margin: 0 auto;
  max-width: 1440px;
  width: 98%;
}
@media only screen and (max-width: 360px) {
  .pltfrm .container {
    width: 100%;
  }
}
@media only screen and (min-width: 701px) {
  .pltfrm .container {
    width: 96%;
  }
}
@media only screen and (min-width: 993px) {
  .pltfrm .container {
    width: 95%;
  }
}
@media only screen and (min-width: 1440px) {
  .pltfrm .container {
    width: 92%;
  }
}
.pltfrm .col .row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.pltfrm .row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.pltfrm .row:after {
  content: "";
  display: table;
  clear: both;
}
.pltfrm .row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.5rem;
  min-height: 1px;
}
.pltfrm .row .col[class*="push-"], .pltfrm .row .col[class*="pull-"] {
  position: relative;
}
.pltfrm .row .col.s1 {
  width: 8.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s2 {
  width: 16.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s4 {
  width: 33.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s5 {
  width: 41.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s7 {
  width: 58.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s8 {
  width: 66.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s10 {
  width: 83.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s11 {
  width: 91.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.pltfrm .row .col.offset-s1 {
  margin-left: 8.33333%;
}
.pltfrm .row .col.pull-s1 {
  right: 8.33333%;
}
.pltfrm .row .col.push-s1 {
  left: 8.33333%;
}
.pltfrm .row .col.offset-s2 {
  margin-left: 16.66667%;
}
.pltfrm .row .col.pull-s2 {
  right: 16.66667%;
}
.pltfrm .row .col.push-s2 {
  left: 16.66667%;
}
.pltfrm .row .col.offset-s3 {
  margin-left: 25%;
}
.pltfrm .row .col.pull-s3 {
  right: 25%;
}
.pltfrm .row .col.push-s3 {
  left: 25%;
}
.pltfrm .row .col.offset-s4 {
  margin-left: 33.33333%;
}
.pltfrm .row .col.pull-s4 {
  right: 33.33333%;
}
.pltfrm .row .col.push-s4 {
  left: 33.33333%;
}
.pltfrm .row .col.offset-s5 {
  margin-left: 41.66667%;
}
.pltfrm .row .col.pull-s5 {
  right: 41.66667%;
}
.pltfrm .row .col.push-s5 {
  left: 41.66667%;
}
.pltfrm .row .col.offset-s6 {
  margin-left: 50%;
}
.pltfrm .row .col.pull-s6 {
  right: 50%;
}
.pltfrm .row .col.push-s6 {
  left: 50%;
}
.pltfrm .row .col.offset-s7 {
  margin-left: 58.33333%;
}
.pltfrm .row .col.pull-s7 {
  right: 58.33333%;
}
.pltfrm .row .col.push-s7 {
  left: 58.33333%;
}
.pltfrm .row .col.offset-s8 {
  margin-left: 66.66667%;
}
.pltfrm .row .col.pull-s8 {
  right: 66.66667%;
}
.pltfrm .row .col.push-s8 {
  left: 66.66667%;
}
.pltfrm .row .col.offset-s9 {
  margin-left: 75%;
}
.pltfrm .row .col.pull-s9 {
  right: 75%;
}
.pltfrm .row .col.push-s9 {
  left: 75%;
}
.pltfrm .row .col.offset-s10 {
  margin-left: 83.33333%;
}
.pltfrm .row .col.pull-s10 {
  right: 83.33333%;
}
.pltfrm .row .col.push-s10 {
  left: 83.33333%;
}
.pltfrm .row .col.offset-s11 {
  margin-left: 91.66667%;
}
.pltfrm .row .col.pull-s11 {
  right: 91.66667%;
}
.pltfrm .row .col.push-s11 {
  left: 91.66667%;
}
.pltfrm .row .col.offset-s12 {
  margin-left: 100%;
}
.pltfrm .row .col.pull-s12 {
  right: 100%;
}
.pltfrm .row .col.push-s12 {
  left: 100%;
}
@media only screen and (min-width: 701px) {
  .pltfrm .row .col.m1 {
    width: 8.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m2 {
    width: 16.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m4 {
    width: 33.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m5 {
    width: 41.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m7 {
    width: 58.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m8 {
    width: 66.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m10 {
    width: 83.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m11 {
    width: 91.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.offset-m1 {
    margin-left: 8.33333%;
  }
  .pltfrm .row .col.pull-m1 {
    right: 8.33333%;
  }
  .pltfrm .row .col.push-m1 {
    left: 8.33333%;
  }
  .pltfrm .row .col.offset-m2 {
    margin-left: 16.66667%;
  }
  .pltfrm .row .col.pull-m2 {
    right: 16.66667%;
  }
  .pltfrm .row .col.push-m2 {
    left: 16.66667%;
  }
  .pltfrm .row .col.offset-m3 {
    margin-left: 25%;
  }
  .pltfrm .row .col.pull-m3 {
    right: 25%;
  }
  .pltfrm .row .col.push-m3 {
    left: 25%;
  }
  .pltfrm .row .col.offset-m4 {
    margin-left: 33.33333%;
  }
  .pltfrm .row .col.pull-m4 {
    right: 33.33333%;
  }
  .pltfrm .row .col.push-m4 {
    left: 33.33333%;
  }
  .pltfrm .row .col.offset-m5 {
    margin-left: 41.66667%;
  }
  .pltfrm .row .col.pull-m5 {
    right: 41.66667%;
  }
  .pltfrm .row .col.push-m5 {
    left: 41.66667%;
  }
  .pltfrm .row .col.offset-m6 {
    margin-left: 50%;
  }
  .pltfrm .row .col.pull-m6 {
    right: 50%;
  }
  .pltfrm .row .col.push-m6 {
    left: 50%;
  }
  .pltfrm .row .col.offset-m7 {
    margin-left: 58.33333%;
  }
  .pltfrm .row .col.pull-m7 {
    right: 58.33333%;
  }
  .pltfrm .row .col.push-m7 {
    left: 58.33333%;
  }
  .pltfrm .row .col.offset-m8 {
    margin-left: 66.66667%;
  }
  .pltfrm .row .col.pull-m8 {
    right: 66.66667%;
  }
  .pltfrm .row .col.push-m8 {
    left: 66.66667%;
  }
  .pltfrm .row .col.offset-m9 {
    margin-left: 75%;
  }
  .pltfrm .row .col.pull-m9 {
    right: 75%;
  }
  .pltfrm .row .col.push-m9 {
    left: 75%;
  }
  .pltfrm .row .col.offset-m10 {
    margin-left: 83.33333%;
  }
  .pltfrm .row .col.pull-m10 {
    right: 83.33333%;
  }
  .pltfrm .row .col.push-m10 {
    left: 83.33333%;
  }
  .pltfrm .row .col.offset-m11 {
    margin-left: 91.66667%;
  }
  .pltfrm .row .col.pull-m11 {
    right: 91.66667%;
  }
  .pltfrm .row .col.push-m11 {
    left: 91.66667%;
  }
  .pltfrm .row .col.offset-m12 {
    margin-left: 100%;
  }
  .pltfrm .row .col.pull-m12 {
    right: 100%;
  }
  .pltfrm .row .col.push-m12 {
    left: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .pltfrm .row .col.l1 {
    width: 8.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l2 {
    width: 16.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l4 {
    width: 33.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l5 {
    width: 41.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l7 {
    width: 58.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l8 {
    width: 66.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l10 {
    width: 83.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l11 {
    width: 91.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.offset-l1 {
    margin-left: 8.33333%;
  }
  .pltfrm .row .col.pull-l1 {
    right: 8.33333%;
  }
  .pltfrm .row .col.push-l1 {
    left: 8.33333%;
  }
  .pltfrm .row .col.offset-l2 {
    margin-left: 16.66667%;
  }
  .pltfrm .row .col.pull-l2 {
    right: 16.66667%;
  }
  .pltfrm .row .col.push-l2 {
    left: 16.66667%;
  }
  .pltfrm .row .col.offset-l3 {
    margin-left: 25%;
  }
  .pltfrm .row .col.pull-l3 {
    right: 25%;
  }
  .pltfrm .row .col.push-l3 {
    left: 25%;
  }
  .pltfrm .row .col.offset-l4 {
    margin-left: 33.33333%;
  }
  .pltfrm .row .col.pull-l4 {
    right: 33.33333%;
  }
  .pltfrm .row .col.push-l4 {
    left: 33.33333%;
  }
  .pltfrm .row .col.offset-l5 {
    margin-left: 41.66667%;
  }
  .pltfrm .row .col.pull-l5 {
    right: 41.66667%;
  }
  .pltfrm .row .col.push-l5 {
    left: 41.66667%;
  }
  .pltfrm .row .col.offset-l6 {
    margin-left: 50%;
  }
  .pltfrm .row .col.pull-l6 {
    right: 50%;
  }
  .pltfrm .row .col.push-l6 {
    left: 50%;
  }
  .pltfrm .row .col.offset-l7 {
    margin-left: 58.33333%;
  }
  .pltfrm .row .col.pull-l7 {
    right: 58.33333%;
  }
  .pltfrm .row .col.push-l7 {
    left: 58.33333%;
  }
  .pltfrm .row .col.offset-l8 {
    margin-left: 66.66667%;
  }
  .pltfrm .row .col.pull-l8 {
    right: 66.66667%;
  }
  .pltfrm .row .col.push-l8 {
    left: 66.66667%;
  }
  .pltfrm .row .col.offset-l9 {
    margin-left: 75%;
  }
  .pltfrm .row .col.pull-l9 {
    right: 75%;
  }
  .pltfrm .row .col.push-l9 {
    left: 75%;
  }
  .pltfrm .row .col.offset-l10 {
    margin-left: 83.33333%;
  }
  .pltfrm .row .col.pull-l10 {
    right: 83.33333%;
  }
  .pltfrm .row .col.push-l10 {
    left: 83.33333%;
  }
  .pltfrm .row .col.offset-l11 {
    margin-left: 91.66667%;
  }
  .pltfrm .row .col.pull-l11 {
    right: 91.66667%;
  }
  .pltfrm .row .col.push-l11 {
    left: 91.66667%;
  }
  .pltfrm .row .col.offset-l12 {
    margin-left: 100%;
  }
  .pltfrm .row .col.pull-l12 {
    right: 100%;
  }
  .pltfrm .row .col.push-l12 {
    left: 100%;
  }
}
@media only screen and (min-width: 1440px) {
  .pltfrm .row .col.xl1 {
    width: 8.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl2 {
    width: 16.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl4 {
    width: 33.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl5 {
    width: 41.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl7 {
    width: 58.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl8 {
    width: 66.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl10 {
    width: 83.33333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl11 {
    width: 91.66667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .pltfrm .row .col.offset-xl1 {
    margin-left: 8.33333%;
  }
  .pltfrm .row .col.pull-xl1 {
    right: 8.33333%;
  }
  .pltfrm .row .col.push-xl1 {
    left: 8.33333%;
  }
  .pltfrm .row .col.offset-xl2 {
    margin-left: 16.66667%;
  }
  .pltfrm .row .col.pull-xl2 {
    right: 16.66667%;
  }
  .pltfrm .row .col.push-xl2 {
    left: 16.66667%;
  }
  .pltfrm .row .col.offset-xl3 {
    margin-left: 25%;
  }
  .pltfrm .row .col.pull-xl3 {
    right: 25%;
  }
  .pltfrm .row .col.push-xl3 {
    left: 25%;
  }
  .pltfrm .row .col.offset-xl4 {
    margin-left: 33.33333%;
  }
  .pltfrm .row .col.pull-xl4 {
    right: 33.33333%;
  }
  .pltfrm .row .col.push-xl4 {
    left: 33.33333%;
  }
  .pltfrm .row .col.offset-xl5 {
    margin-left: 41.66667%;
  }
  .pltfrm .row .col.pull-xl5 {
    right: 41.66667%;
  }
  .pltfrm .row .col.push-xl5 {
    left: 41.66667%;
  }
  .pltfrm .row .col.offset-xl6 {
    margin-left: 50%;
  }
  .pltfrm .row .col.pull-xl6 {
    right: 50%;
  }
  .pltfrm .row .col.push-xl6 {
    left: 50%;
  }
  .pltfrm .row .col.offset-xl7 {
    margin-left: 58.33333%;
  }
  .pltfrm .row .col.pull-xl7 {
    right: 58.33333%;
  }
  .pltfrm .row .col.push-xl7 {
    left: 58.33333%;
  }
  .pltfrm .row .col.offset-xl8 {
    margin-left: 66.66667%;
  }
  .pltfrm .row .col.pull-xl8 {
    right: 66.66667%;
  }
  .pltfrm .row .col.push-xl8 {
    left: 66.66667%;
  }
  .pltfrm .row .col.offset-xl9 {
    margin-left: 75%;
  }
  .pltfrm .row .col.pull-xl9 {
    right: 75%;
  }
  .pltfrm .row .col.push-xl9 {
    left: 75%;
  }
  .pltfrm .row .col.offset-xl10 {
    margin-left: 83.33333%;
  }
  .pltfrm .row .col.pull-xl10 {
    right: 83.33333%;
  }
  .pltfrm .row .col.push-xl10 {
    left: 83.33333%;
  }
  .pltfrm .row .col.offset-xl11 {
    margin-left: 91.66667%;
  }
  .pltfrm .row .col.pull-xl11 {
    right: 91.66667%;
  }
  .pltfrm .row .col.push-xl11 {
    left: 91.66667%;
  }
  .pltfrm .row .col.offset-xl12 {
    margin-left: 100%;
  }
  .pltfrm .row .col.pull-xl12 {
    right: 100%;
  }
  .pltfrm .row .col.push-xl12 {
    left: 100%;
  }
}

.pltfrm .card {
  padding: 1rem;
  margin: 0.4rem 0;
  border-radius: 1rem;
  background-color: #ffffff;
}
.pltfrm pre {
  min-height: 2.5rem;
  overflow: auto;
  display: inline-block;
  padding: 0.8rem;
  margin: 0.8rem auto;
  background-color: #f5f5f5;
  border: 1px solid #c2c2c2;
  border-radius: 4rem;
}

.pltfrm form label {
  font-weight: 600;
}
.pltfrm form input, .pltfrm form textarea {
  padding: .8rem;
  margin-top: .4rem;
  background-color: #f5f5f5;
  border: 0;
  transition: box-shadow .2s;
}
.pltfrm form input:focus, .pltfrm form textarea:focus {
  outline: 0;
  box-shadow: 0 1px 1px #c2c2c2, 0 -1px 1px #c2c2c2;
}
.pltfrm form input:hover, .pltfrm form textarea:hover {
  box-shadow: 0 1px 1px #c2c2c2, 0 -1px 1px #c2c2c2;
}
.pltfrm form [type="text"],
.pltfrm form [type="password"],
.pltfrm form [type="email"],
.pltfrm form [type="number"],
.pltfrm form [type="date"],
.pltfrm form [type="time"],
.pltfrm form [type="datetime"],
.pltfrm form [type="datetime-local"],
.pltfrm form [type="month"],
.pltfrm form [type="week"],
.pltfrm form [type="search"],
.pltfrm form [type="range"],
.pltfrm form [type="tel"],
.pltfrm form [type="url"] {
  min-width: 100%;
  max-width: 100%;
  height: 2rem;
  border-radius: 4rem;
}
.pltfrm form [type="checkbox"] {
  float: left;
  width: .8rem;
  height: .8rem;
  margin-right: 10px;
}
.pltfrm form [type="file"] {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  max-height: 200px;
}
.pltfrm form [type="image"] {
  min-width: 100%;
  max-width: 100%;
  background-color: #f5f5f5;
}
.pltfrm form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 75vh;
  overflow: unset;
  border-radius: 1em;
}
.pltfrm form button {
  padding: 1rem;
  background-color: #607d8b;
  border: 0;
  border-radius: 3em;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s;
}
.pltfrm form button:hover {
  color: black;
}
.pltfrm form button:focus {
  background-color: #8eacbb;
  outline: 0;
}

.pltfrm nav {
  padding: 0 !important;
}
.pltfrm nav a {
  height: 2rem;
  text-align: center;
  padding: 0.5rem 0rem !important;
  border-radius: 1rem;
  color: #34515e;
  transition: 0.3s;
}
.pltfrm nav a:hover {
  color: #ffffff;
  background-color: #607d8b;
}

/*# sourceMappingURL=main.css.map */
